<!DOCTYPE html>
<html>
<head>
<title>Emergency Calls</title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

<style>
body{
background:#f4f6f9;
overflow-x:hidden;
}

.sidebar{
height:100vh;
background:#0d1b2a;
position:fixed;
width:240px;
padding-top:20px;
}

.sidebar a{
display:flex;
align-items:center;
padding:12px 20px;
margin:6px 10px;
color:#cbd5e1;
text-decoration:none;
border-radius:8px;
}

.sidebar a:hover{
background:#1b263b;
color:white;
}

.content{
margin-left:240px;
padding:20px;
}
</style>
</head>

<body>

<!-- SIDEBAR -->
<div class="sidebar">
    <h4 class="text-center mb-3">Police ERP</h4>
    <hr style="border-color: rgba(255,255,255,0.15);">

    <a href="/police_dashboard" class="active">
        <i class="bi bi-speedometer2"></i>
        <span>Dashboard</span>
    </a>

    <a href="/add_fir">
        <i class="bi bi-file-earmark-plus"></i>
        <span>Add FIR</span>
    </a>

    <a href="/view_fir">
        <i class="bi bi-folder2-open"></i>
        <span>View FIRs</span>
    </a>
    <a href="/court_management">
        <i class="bi bi-calendar-event"></i>
        <span>Court management</span>
    </a>
    <a href="/add_emergency_call">
<i class="bi bi-telephone"></i>
<span>Emergency Call</span>
</a>

<a href="/emergency_logs">
<i class="bi bi-clock-history"></i>
<span>Emergency Logs</span>
</a>

    <a href="#">
        <i class="bi bi-people"></i>
        <span>Officers</span>
    </a>

    <a href="#">
        <i class="bi bi-gear"></i>
        <span>Settings</span>
    </a>
</div>

<!-- CONTENT -->
<div class="content">

<nav class="navbar bg-white shadow-sm rounded mb-4">
<div class="container-fluid">
<span class="navbar-brand">Emergency Calls</span>

<a href="/add_emergency_call" class="btn btn-danger">
<i class="bi bi-plus-circle"></i> New Emergency
</a>

</div>
</nav>

<div class="card shadow">
<div class="card-body">

<table class="table table-striped">

<thead class="table-dark">
<tr>
<th>Call ID</th>
<th>Citizen ID</th>
<th>Location</th>
<th>Description</th>
<th>Call Time</th>
</tr>
</thead>

<tbody>

{% for call in calls %}

<tr>
<td>{{ call.call_id }}</td>
<td>{{ call.citizen_id }}</td>
<td>{{ call.location }}</td>
<td>{{ call.description }}</td>
<td>{{ call.call_time }}</td>
</tr>

{% endfor %}

</tbody>

</table>

</div>
</div>

</div>

</body>
</html>